@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset CSS */
:root {
    --color-one: #f9ecec;
    --color-two: #f0d9da;
    --color-three: #c8d9eb;
    --color-four: #ecf2f9;
    --text-color: #543a3a;
}

* {
    margin: 0;
    font-family: poppins;
}

/* Navbar */
nav {
    background-color: var(--color-two);
    color: var(--text-color);
    padding: 30px 0;
    width: 100%;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 17px;
}

nav h1 {
    margin-left: 30px;
    font-size: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 0px;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 15px;
}

nav ul li a:hover {
    background-color: var(--color-one);
    padding: 15px;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.04);
}

/* Banner */
#banner {
    background-color: var(--color-one);
    color: var(--text-color);
    padding: 0;
    text-align: center;
    display: flex;
}

#banner h2 {
    margin-bottom: 20px;
    font-size: 55px;
    width: 700px;
    line-height: 60px;
    text-transform: uppercase;
}

#banner p {
    margin-left: 25px;
    font-size: 20px;
    width: 900px;
}

/* Sections */
.banner-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 50px 0;
}

.imagem-banner {
    width: 100%;
}

.div-imagem {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

h2,
h3 {
    font-size: 3em;
}

img {
    width: 170px;
    /* Defina a largura desejada */
    height: auto;
    /* Para manter a proporção */
    margin-right: 40px;
    /* Adicione margem à esquerda para separar o texto */
    align-items: right;
    display: flex;
}

h1 {
    display: flex;
    align-items: center;
}

#missao {
    background-color: var(--color-one);
    width: 100%;
    margin: 0 auto;
}

#missao p {
    font-size: 1.5em;
}

#missao h3 {
    padding-bottom: 10px;
}

#missao ul {
    font-size: 1.2rem;
    padding-top: 20px;
}

.section-depoimentos {
    background-color: var(--color-one);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin: 2rem 0;
}

.depoimentos {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 22px;
    box-shadow: 2px 2px 15px 2px gray;
    background-color: rgb(241, 241, 241);
}

.depoimentos:hover {
    box-shadow: 2px 2px 15px 2px rgb(34, 34, 34);
    transition: 0.4s;
}

.depoimentos img {
    width: 100%;
    height: 50%;
}

.depoimentos p {
    font-size: 1.2rem;
    padding: 1rem;
    height: 40%;
    color: rgb(54, 53, 53);
}

.depoimentos h4 {
    align-self: center;
}
