@charset "UTF-8";

nav {
    padding: 20px;
    background-color: #f0d9da;
    color: #543a3a;
}

body {
    background-color: #f9ecec;
}

#barra-navi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
}

#barra-navi ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

#barra-navi a {
    padding: 15px;
}

#barra-navi a:hover {
    background-color: #f9ecec;
    border-radius: 10px;
    padding: 15px;
    transition: 0.4s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.04);
}

#banner {
    background-color: #d6c2c3;
    display: flex;
    justify-content: center;
    height: 50vh;
    text-align: center;
}

.banner-container {
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    text-align: center;
    font-size: 1.2em;
    width: 800px;
}

h2 {
    font-weight: bold;
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
    font-weight: bolder;
}

#missao,
#visao {
    background-color: #ddc9ca;
    margin: 50px auto;
    border-radius: 50px;
    width: 1200px;
    padding: 30px;
    box-shadow: 1px 1px 5px black;
}

#lista-home > p {
    text-align: center;
    font-size: 1.4em;
}

#lista-home > ul {
    columns: 2;
    width: 1200px;
    margin: auto;
    padding: 30px;
    list-style: circle;
}

footer {
    color: white;
    padding: 5px;
    text-align: center;
    background-color: #363636;
}

#depoimento {
    display: flex;
    padding: 50px;
    gap: 30px;
}

.depoimento-pessoa {
    background-color: #7556569c;
    text-align: center;
    padding: 30px;
    border-radius: 50px;
    overflow: auto;
}

.image-depoimento {
    width: 500px;
    border-radius: 20px;
}

/*
.texto-depoimento{
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 25px;
}*/

.one-semanas {
    background-color: #eeeeee;
    height: 50vh;
    display: flex;
}

.semanas-texto {
    text-align: center;
    margin: auto;
    width: 900px;
}

.semanas-texto > p {
    font-size: 1.5em;
}

.semanas-texto > h2 {
    padding: 20px;
    font-size: 2.5em;
}

.two-semanas {
    background-color: #d6c2c3;
    height: 50vh;
    display: flex;
}

#ultima-semana {
    display: flex;
    justify-content: center;
}

#texto-ultima-semana {
    text-align: center;
    margin: auto;
    padding: 40px;
}
#semana-final {
    background-color: #eeeeee;
}

.sintomas-tipos {
    background-color: #EEEEEE;
    width: 500px;
    height: 400px;
    border-radius: 30px;
    margin: auto;
    border: 5px #d6c2c3 solid;
    overflow: auto;
    
}

.sintomas-tipos  h3 {
    background-color: #d6c2c3;
    padding: 10px;
    text-align: center;
    color: white;
}

.sintomas-tipos p {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

#sintomas-comuns{
    display: flex;
    flex-direction: column;
}

#content-sintomas{
    display: flex;
}

#sintomas-comuns > h2 {
    text-align: center;
    font-size: 3em;
    padding: 50px;
}


.img-tipo{
    width: 500px;
    height: 400px;
}